# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
.Rproj.user
packrat/lib*/
.DS_Store
output
report/reportlatex/Report.aux
report/reportlatex/Report.log
report/reportlatex/Report.pdf
report/reportlatex/Report.synctex.gz
report/reportlatex/Report.toc